@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #DCE1E8, #F2F2F2);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 13px #1d52739a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1D5273;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #4681A6;
}

p {
    text-align: justify;
}